*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  width: 100%;
  margin-top: 64px;
  /* margin-left: 240px; */
  background-color: #f5f5f5;
  overflow: auto;
}

@media screen and (min-width : 768px) {
  .container{
    width: calc(100vw - 240px);
    margin-left: 240px;
  }
}