.info_container {
    width:calc(100% - 250px);
    float: right;
}

.info_header {
    width: 100%;
    font-size: 2.5vw;
    height: 60px;

    display: flex;
    align-items: center;

    padding-left: 5%;
    border-bottom: 1px solid #000;
}

.info_header p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    padding: 0;
    margin: 0;
}

.infos {
    width: 80%;
    margin: 8% auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.info_tap {
    display: flex;
    flex-direction: row;
    background-color: #ccc;
}

.info_tap > div {
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;
}

.info_tap > div:first-child {
    border-top-left-radius: 5px;
}

.info_tap > div:last-child {
    width: 40%;
    border-bottom: 1px solid #000;
    border-top-right-radius: 5px;
    /* background-color: #ccc; */
    border-right: none;
}

.info_tap_active {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info_tap_none{
    /* background-color: #ccc; */
    border-bottom: 1px solid #000;
}

.info_text {
    padding: 5%;
    white-space: pre-wrap;
}